<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Разрешение на сам сервис (базовое) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Разрешение конкретно на тип HEALTH (для API 34+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />

    <!-- Самое важное для шагомера: доступ к датчикам движения -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".FatLessApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_vector"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.sensor.StepService"
            android:foregroundServiceType="health"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".core.sensor.StepActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_RESET_MANUAL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>