<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Разрешение на сам сервис (базовое) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Разрешение конкретно на тип HEALTH (для API 34+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />

    <!-- Самое важное для шагомера: доступ к датчикам движения -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Если вдруг будем юзать быстрые датчики -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Основные разрешения для GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Чтобы трек не рвался, когда экран выключен (для Android 10+) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <!-- Разрешение на поиск устройств (Android 12+) -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <!-- Разрешение на подключение к найденным устройствам (Android 12+) -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Разрешение на рекламу (если телефон сам будет как датчик, на будущее) -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Старые разрешения для совместимости (Android 11 и ниже) -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />


    <application
        android:name=".FatLessApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@null"
        android:icon="@drawable/ic_logo_vector"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"
            tools:ignore="LockedOrientationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.sensor.StepService"
            android:foregroundServiceType="health"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".core.sensor.StepActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_RESET_MANUAL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.sensor.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".core.location.TrackingService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.niked.fatless.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".widget.StepWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <!-- Говорим системе, что это виджет -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- Ссылка на файл с настройками размеров (сейчас его создадим) -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/step_widget_info" />
        </receiver>

    </application>
</manifest>